@tailwind base;
@tailwind components;

@layer components {
  .home-section-wrapper {
    @apply w-full flex flex-col space-y-4 pt-4;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  input:focus {
    outline: none;
  }
  button:disabled {
    opacity: 0.2;
  }
  .triange {
    width: 0px;
    height: 0px;
    border-bottom: 360px solid #666666;
    border-left: 180px solid transparent;
    border-right: 480px solid transparent;
  }
}

@tailwind utilities;
